body {
  background-color: #f1f1f1;
  font-family: 'Roboto', Helvetica, Arial, sans-serif;
  line-height: 1.4em;
}

aside {
  grid-column: span 4;
}

h1,h2,h3,h4,h5,h6 {
  margin: 0 0 16px;
}

h3 {
  color: #2196F3;
  font-weight: 400;
}

li {
  margin-bottom: 12px;
  line-height: 1.4em;
}

.CampaignInputForm {
  grid-column: span 8;
}

.CampaignResults {
  margin-bottom: 64px;
}

.brand-selector {
  display: block;
  background: transparent;
  color: rgba(0,0,0,0.3);
  font-size: 12px;
  text-align: center;
  padding: 6px;
  border: 1px solid rgba(0,0,0,0.3);
  cursor: pointer;
}

.brand-selector:hover {
  color: rgba(0,0,0,0.6);
  border-color: rgba(0,0,0,0.6);
}

.brand-selector.active {
  color: #fff;
}

.brand-selector.nb.active {
  background-color: #006EB4;
}
.brand-selector.be.active {
  background-color: #f60;
}

.brand-selector.bs.active {
  background-color: #0f0f0f;
}

.brand-selector.ce.active {
  background-color: #1F294A;
}

.brand-selector.ec.active {
  background-color: #213D7E;
  color: #FBE008;
}
